@model IEnumerable<TechHelperPOC.Web.Models.SystemInfo>
@{
    if (ViewBag.Message != "Search Computer!")
    {
        <div class="well" style="margin-top:17px;">
            <h3>@ViewBag.Machine Printer Configuration</h3>
            <table class="table table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PropertyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PropertyValue)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    string PropertyNameSplit;
                    PropertyNameSplit = string.Concat(item.PropertyName.Select(c => char.IsUpper(c) ? " " + c.ToString() : c.ToString()))
                            .TrimStart();
                    <tr>

                    @{
                    if (item.Sequence == 1)
                    {
                        <td class="alert-info">
                            @Html.DisplayFor(modelItem => PropertyNameSplit)
                        </td>
                        <td class="alert-info">
                            @Html.DisplayFor(modelItem => item.PropertyValue)
                        </td>
                    }
                    else if (item.PropertyName == "Orientation")
                    {
                        var orientation = string.Empty;
                        if (item.PropertyValue == "1")
                        {
                            orientation = "Portrait";
                        }
                        else
                        {
                            orientation = "Landscape";
                        }
                        <td>
                            @Html.DisplayFor(modelItem => PropertyNameSplit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => orientation)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => PropertyNameSplit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PropertyValue)
                        </td>
                    }
                    }
                    </tr>
                }
            </table>
        </div>
  }
}
<div id='myModal' class='modal'>
    <div class="modal-dialog" style="width:150px; padding:0px; margin-top:10%;">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/Scripts/SaveInfor.js")
}