@model IEnumerable<TechHelperPOC.Web.Models.SystemInfo>

@{
    ViewBag.Title = "Routing Table";
}
@{
    if (ViewBag.Message != "Search Computer!")
    {
        <div class="well" style="margin-top:17px;">
            <h3>@ViewBag.Machine Routing Table</h3>

            <table class="table table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PropertyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PropertyValue)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    string PropertyNameSplit;
                    PropertyNameSplit = string.Concat(item.PropertyName.Select(c => char.IsUpper(c) ? " " + c.ToString() : c.ToString()))
                            .TrimStart();
                    <tr>
                        @{if (item.Sequence == 1)
                        {
                            <td class="alert-info">
                                @Html.DisplayFor(modelItem => PropertyNameSplit)
                            </td>
                            <td class="alert-info">
                                @Html.DisplayFor(modelItem => item.PropertyValue)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => PropertyNameSplit)
                            </td>
                            if (item.PropertyName == "Age")
                            {
                                int remainder;
                                int day;
                                int hour;
                                int min;
                                day = item.PropertyValue.AsInt() / 86400;
                                remainder = item.PropertyValue.AsInt() % 86400;
                                hour = remainder / 3600;
                                remainder = remainder % 3600;
                                min = remainder / 60;
                                string age = day.ToString() + " Day" + (day > 1 ? "s " : " ")
                                    + hour.ToString() + " Hour" + (hour > 1 ? "s " : " ")
                                    + min.ToString() + " Minute" + (min > 1 ? "s " : null);
                                <td>
                                    @Html.DisplayFor(modelItem => age)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.PropertyValue)
                                </td>
                            }
                        }
                        }
                    </tr>
                }
            </table>
        </div>
    }
}
<div id='myModal' class='modal'>
    <div class="modal-dialog" style="width:150px; padding:0px; margin-top:10%;">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/Scripts/SaveInfor.js")
}